.PropBtn {
  border-radius: 30px;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: -5px;
  line-height: 30px;
}
.BHKBtn {
  border-radius: 30px;
  padding: 0 15px;
  margin-top: -7px;
  margin-bottom: -5px;
  line-height: 30px;
}

.RTMBtn {
  border-radius: 30px;
  padding: 0 15px;
  margin-top: -5px;
  margin-bottom: -5px;
  line-height: 30px;
}
.EntryBtn {
  border-radius: 30px;
  padding: 0 15px;
  margin-top: -5px;
  margin-bottom: -5px;
  line-height: 30px;
}
