<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark"
  *ngIf="showNavbar"
>
  <div
    class="container-fluid"
    style="margin-right: 0"
    style="padding-right: 0"
    style="padding-left: 0"
  >
    <a
      class="navbar-brand linkcolor"
      routerLink="home"
      routerLinkActive="activelink"
      [routerLinkActiveOptions]="{ exact: true }"
      >Techmaark</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-4 mb-lg-0">
        <li class="nav-item" style="padding-left: 3%; padding-top: 1%">
          <a
            class="nav-link active linkcolor"
            aria-current="page"
            routerLink="/"
            routerLinkActive="activelink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Purchase</a
          >
        </li>
        <li class="nav-item" style="padding-left: 3%; padding-top: 1%">
          <a
            class="nav-link linkcolor"
            routerLink="rent-property"
            routerLinkActive="activelink"
            [routerLinkActiveOptions]="{ exact: true }"
            >Sales</a
          >
        </li>
        <li class="nav-item" style="padding-left: 3%; padding-top: 1%">
          <a
            class="nav-link linkcolor"
            routerLink="/add-property"
            routerLinkActive="activelink"
            [routerLinkActiveOptions]="{ exact: true }"
            >ManageProperty</a
          >
        </li>
      </ul>
      <form class="d-flex" style="padding-left: calc(50%)" role="search">
        <input
          class="form-control me-2"
          style="margin-right: calc(5%)"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />

        <button
          style="margin-right: calc(-20%)"
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
