.linkcolor {
  background: none !important;
  border: none;
  color: blue;
  cursor: pointer;
}
.linkcolor:hover {
  color: aqua;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.7;
}
.activelink {
  background: none !important;
  border: none;
  color: aqua;
  cursor: pointer;
}
