<div
  class="row"
  style="margin-top: 0%; margin-bottom: 5%; margin-right: 1%; margin-left: 1%"
>
  <div class="card shadow-sm">
    <div class="PropertyImage">
      <img
        src="{{ Property.Image }}"
        alt=""
        style="margin: 2%; margin-bottom: 0"
      />
    </div>

    <div
      class="card-body"
      style="
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: inline-axis;
        text-overflow: ellipsis;
        line-height: 21px;
        display: -webkit-box;
        text-overflow: ellipsis;
      "
    >
      <div class="justify-content-between align-items-center">
        <h3
          style="
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-text-size-adjust: auto;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;

            display: -webkit-box;
            text-overflow: ellipsis;
          "
          class="mb-0"
        >
          {{ Property.BHK }} BHK {{ Property.PType }}
        </h3>

        in {{ Property.Name }}
        <span *ngIf="Property.Name">,</span>
        {{ Property.City }}

        <h6 class="mt-2">
          {{ Property.FType }}
          <span *ngIf="Property.FType !== 'Unfurnished'">Furnished</span> |
          Ready to Move
        </h6>

        <hr class="mt-0 mb-2" />

        <h6 class="mb-0">
          Price: <span class>{{ Property.Price }} USD.</span> | Area:
          <span>{{ Property.BuiltArea }} Sq Ft </span>
        </h6>
        <div
          *ngIf="!hideIcons"
          style="justify-content: space-between; margin-top: 13px"
        >
          <button
            type="button"
            style="margin-right: 2px"
            class="btn btn-sm btn-secondary product-btn"
            routerLink="property-detail/{{ Property.id }}"
          >
            Manage
          </button>
          <button
            type="button"
            style="margin-right: 0"
            class="btn btn-sm btn-primary product-btn"
          >
            Contact
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
